li{
    display:inline-block;
    padding: 5px;
}
ol{
    margin-left: 40%;
}
body {
    background-color: lightgoldenrodyellow;
}
h1{
    color: purple;
    margin-left: 25%;
    background-color: aquamarine;
}
ul{
    background-position: 50%;
}
form {
    font-weight: lighter;
    font-size: 130%;
    margin-left: 30%;
}