li{
    display:inline-block;
    padding: 5px;
}
ol{
    margin-left: 40%;
}
img{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}
body {
    background-color: lightgoldenrodyellow;
}
h1{
    color: purple;
    margin-left: 25%;
    background-color: aquamarine;
}
h4{
    color: purple;
    margin-left: 30%;
    background-color: aquamarine;
}
ul{
    background-position: 50%;
}
p{
    color: purple;
    margin-left: 25%;
    font-size: 150%;
    font-weight: lighter;
}
video{
    padding: 10px;
    width: 30%;
    margin-left: 25%;
}